---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { Image } from "astro:assets";

import NarutoImage2 from "../../public/images/naruto01.jpg";
import KaijiImage from "../../src/images/kaiji01.png";
import JojoImage from "../../src/images/jojo01.jpeg";
import NarutoImage from "../images/naruto01.jpg";
---

<Layout title="First Astro">
    <h3>マンガスタンプ一覧</h3>
    <ul role="list" class="link-card-grid">
        <Card imageUrl={KaijiImage.src} imageDiscription="カイジの画像" />
        <Card imageUrl={JojoImage.src} imageDiscription="ジョジョの画像" />
        <Card imageUrl={NarutoImage.src} imageDiscription="ナルトの画像" />
    </ul>
    <Image src={NarutoImage2} alt="説明文" />
</Layout>

<style>
    .link-card-grid {
        display: flex;
        justify-content: center;
    }
</style>
