---
interface Props {
    imageUrl: string;
    imageDiscription: string;
}

const { imageUrl, imageDiscription } = Astro.props;
---

<li class="link-card">
    <img src={imageUrl} alt={imageDiscription} />
</li>

<style>
    .link-card {
        list-style: none;
    }
    .link-card img {
        width: 200px;
		height: 200px;
        margin: 16px;
    }
</style>
